@import '../../node_modules/bootstrap/scss/variables';

.logo-mark {
    z-index: 100;
    text-transform: uppercase !important;

    &.vertical {
        img {
            margin-bottom: 1rem;
        }
    }

    &.horizontal {

        h1 {
            font-size: 24px !important;
            margin-bottom: 0;
            margin-left: 1rem;
            display: inline-block;
            vertical-align: middle;
        }
        img {
            height: 50px;
            width: 50px;
            line-height: 50px;
            display: inline-block;
           
        }
    }

    &.top-left {
        position: absolute;
    }
}