@import url("https://fonts.googleapis.com/css?family=Marcellus");

//Media Queries
$break-small: 400px;
$break-large: 1200px;

//Font Colours
$lightFont0: #fff;
$darkFont0: #000;

$offWhite: #EFEFEF;

//Font Sizes
$titleFontH1Size0: 3em;

//Shadows
$lightTextShadow0: 0 0 10px $lightFont0;
$darkTextShadow0: 0px 0px 5px $darkFont0;

$darkBoxShadow0: 1px 1px 100px rgba(0, 0, 0, 1);
$darkBoxShadow1: 1px 1px 10px rgba(0, 0, 0, 1);

//Z Index
$zIndex_basePage:     0;
$zIndex_baseOverlay:  50;
$zIndex_logoOverlay:  100;
$zIndex_resumeButton: 100;
$zIndex_modal:        200;
$zIndex_modalOverlay: 210;
$zIndex_menu:         300;
$zIndex_menuOverlay:  310;

$floatingEdgeMargin: 20px;

//MIXINS
@mixin buttonLight0($fontSize) {
  font-family: inherit;
  border: 2px solid white;
  background: none;
  border-radius: 3px;
  color: $lightFont0;
  font-size: $fontSize;
  padding: 0.25em 1em;
  &:hover {
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
  }
}

//Reset BASICS /////////////////////////////////////////////////////////////////

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
html, body {
  height: 100%;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*, html {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  font-family: 'Marcellus', serif;
	background-color: #2b2728;
}

a {
  text-decoration: none;
}

h1, img {
  margin:0;
  padding:0;
}

button {
	outline: none;
}

#root {
  height: 100vh;
}

.noscroll {
	overflow: hidden;
}

//BASE APP /////////////////////////////////////////////////////////////////////
.App {
  height: 100%;
  // min-height: 100vh;
  text-align: center;
}
// .Page {
//   height: 100%;
//   background-position: center;
//   background-size: cover;
// }

////////////////////////////////////////////////////////////////////////////////
// Widgets
////////////////////////////////////////////////////////////////////////////////

// LOGO MARK ///////////////////////////////////////////////////////////////////
.logo-mark {

  h1 {
  	color: white;
  	text-transform: uppercase;
  	text-shadow: $lightTextShadow0;
  }

  &.horizontal {

    position: fixed !important;
    display: flex;
    z-index: $zIndex_logoOverlay;

  	top: 0;
  	left: 0;
    margin-left: $floatingEdgeMargin;
    margin-top: $floatingEdgeMargin;
  	height: 50px;

    h1 {
      display: inline-block;
      font-size: 24px;
      vertical-align: middle;
      line-height: 50px;
      padding-left: 20px;
    }

    @media screen and (max-width: $break-small) {
      h1 {
        font-size: 12px;
      }
    }

    .logo {
      height: 50px;
      width: 50px;
    }
  }
}

.Home .logo-mark.centered h1 {
	padding-top: 25px;
	font-size: 40px;
}

// LOADER //////////////////////////////////////////////////////////////////////
.loader {
	position: relative;
}
.lds-roller {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 32px 32px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #fff;
  margin: -3px 0 0 -3px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 50px;
  left: 50px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 54px;
  left: 45px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 57px;
  left: 39px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 58px;
  left: 32px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 57px;
  left: 25px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 54px;
  left: 19px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 50px;
  left: 14px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 45px;
  left: 10px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

// MENU & HAMBURGER MENU ///////////////////////////////////////////////////////

.Menu {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  li {
    float: left;
    display: inline;
    a {
      color: $lightFont0;

      display: block;
      padding-left: 8px;
      padding-right: 8px;

      &:hover {
        opacity: 0.3;
      }

    }
  }
}

.HamburgerMenu {

  @media screen and (max-width: $break-small) {

    .open {
      position: absolute !important;
      top: 0;
      left: 0;
    }

    .Menu {
      width: 100vw !important;
      max-width: 100vw !important;
      height: 100vh !important;
      position: absolute !important;
      top: 0 !important;
      left: 0 !important;

      padding: 0 !important;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;


      ul {
        width: 50%;
        margin-left: 0 auto;

        li {
          text-align: center;
          font-size: 100px !important;
        }

        a {
          font-size: 36px !important;
          line-height: 50px;
        }
      }
    }
  }

  .Menu {
  	position: fixed;
  	text-align: right;
  	right: 0;
  	top: 0;
  	width: 25%;
  	max-width: 250px;
  	height: 100%;
  	background-color: rgba(0,0,0,0.5);
  	padding: 80px 5px 5px 50px;
  }

  a {
  	color: #fff;
  	font-size: 20px;
  	line-height: 36px;
  	text-transform: uppercase;

    &:hover {
      text-shadow: $lightTextShadow0;
    }
  }

  li {
  	float: none !important;
  	margin-bottom: 7px;
  	text-align: left;
  }

  .open {
  	position: relative;
  }

  .hburger {
  	position: absolute;
  	cursor: pointer;
  	border: none;
  	background: none;
  	border-radius: 0;
  	color: white;
  	height: 40px;
  	width: 40px;
  	top: 20px;
  	right: 20px;
  }

  .upper-line, .mid-line, .lower-line {
  	width: 35px;
  	height: 5px;
  	background-color: #fff;
  	margin: 6px 0;
  	transition: 0.4s;
  }
}

.fs-blackout {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.5);
}

// RESUME BUTTON ///////////////////////////////////////////////////////////////
.resume-button {
	position: absolute;
	bottom: 0;
	right: 0;
	margin-right: $floatingEdgeMargin;
	margin-bottom: $floatingEdgeMargin;
	z-index: $zIndex_resumeButton;
	visibility: visible;

  @media screen and (max-width: $break-small) {
    // margin: 0 auto;
    left: 50%;
    transform: translateX(-50%);
    width: 75%;
  }

  button {
  	font-family: inherit;
  	border: 2px solid white;
  	background: none;
  	border-radius: 3px;
  	color: white;
  	font-size: 1.5em;
    padding: 0.25em 1em;

    @media screen and (max-width: $break-small) {
      font-size: 1.2em;
    }

    &:hover {
    	background-color: rgba(255, 255, 255, 0.2);
    	cursor: pointer;
    }
  }
}

////////////////////////////////////////////////////////////////////////////////
// 404 Error Page
////////////////////////////////////////////////////////////////////////////////
.error404 {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: no-repeat center center fixed;
  background-size: cover;
  color: white;

  $darkTextShadowIntense:
    0 0 10px black,
    0 0 15px black,
    0 0 20px black,
    0 0 25px black;

  h1 {
    font-size: 100px;
    text-shadow: $darkTextShadowIntense;
  }

  h2 {
    font-size: 50px;
    text-shadow: $darkTextShadowIntense;
  }

  p {
    margin: 50px 0 50px 0;
  }

  .Menu {
    font-size: 28px;
  }

  .error-message {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
  }
}

//Reroute - This page is only shown if the site is given a weird URL and it searches for a match
.reroute {
  height: 100vh;
  width: 100vw;
  background: no-repeat center center fixed;
  background-size: cover;
  .loader {
    position: absolute;
    height: inherit;
    width: inherit;
    top: 0;
    left: 0;
    margin: auto;
    .lds-roller {
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

////////////////////////////////////////////////////////////////////////////////
// HOME PAGE
////////////////////////////////////////////////////////////////////////////////
.Home {
  height: 100%;
  min-height: 100vh;

  color: $lightFont0;

  background-repeat: no-repeat;
  background-size: cover;
  background-origin: border-box;
  background-position: center center;

  a {
    color: inherit;
  }
  a:hover {
    opacity: 0.8;
  }

  h1 {
    padding-top: 25px;
    font-size: 40px;
    text-transform: uppercase;
    text-shadow: $lightTextShadow0;
  }

  @media screen and (min-width: $break-large) {
  }


  .Menu ul {
    padding-top: 25px;
    display: inline-block;
  }

  .page-content {
    display: flex;
    flex-direction: column;
    padding-top: 17vh;

    @media screen and (max-width: $break-small) {
      padding-top: 50px;
    }

    blockquote {
      width: 50%;
      align-self: center;
      font-size: 18px;

      @media screen and (max-width: $break-small) {
        width: 90%;
      }

      h1 {
        font-size: 72px;
        @media screen and (max-width: $break-small) {
          font-size: 36px;
        }
      }
      h2 {
        font-size: 22px;
        @media screen and (max-width: $break-small) {
          font-size: 14px;
        }

      }
    }

    hr {
      margin-top: 10px;
      margin-bottom: 20px;
      border-top: 1px;
      width: 30%;
      align-self: center;
    }

  }

  .nav-container {
    //* Good article on flex https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
    display: flex;
    flex-direction: column;
    justify-content: center;

    img {
      /* I need align-self center for images inside of flex so they don't stretch */
      align-self: center;
      padding-top: 40px;
    }
  }
}

////////////////////////////////////////////////////////////////////////////////
// BLOG PAGE
////////////////////////////////////////////////////////////////////////////////

.BlogMain {

  display: flex;
	flex-direction: column;
	overflow: auto;
  color: $lightFont0;

  a {
    color: $lightFont0;
    &:hover {
    	text-shadow: 0 0 10px rgba(255, 255, 255, 1);
    }
  }

  .top-section {
  	height: 293px;

    .bg-image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }


    .page-content {
      h1 {
       color: white;
       font-size: 52px;
       line-height: 293px;
       text-shadow: 0px 3px 15px rgba(0, 0, 0, 1);
     }
   }
  }

  .blog-preview a:hover {
  	cursor: pointer;
  }

  .content-snippet {
  	overflow: hidden;
  	font-size: 16px;
  	line-height: 16px;
  }

  .date {
  	align-self: center;
  }

  .blog-image {
  	width: auto;
  	height: 100%;
  	display: block;
  	transition:all 0.3s ease;
  	background-color: #231f20;

    &:hover {
    		-webkit-transform: scale(1.2);
    		-ms-transform: scale(1.2);
    		transform: scale(1.2);
    }
  }

  .blog-image-inner {
  	position: relative;
  	width: auto;
  	height: 100%;
  	background-size: cover;
  	background-position: center;
  }

  .bottom-section {
  	flex-grow: 1;
  	display: flex;
  	flex-direction: column;

    .page-content {
    	flex: 1;

      .blog-list-container {
        width: 50%;
        min-width: 800px;
        padding-top: 75px;
        margin: 0 auto;
        position: relative;

        .container {
        	display: grid;
        	grid-template-columns: 40% 5% 55%;
        	grid-template-rows: 253px;
        	margin-bottom: 50px;
        	opacity: 0;
        	transition:all 0.3s ease;

          .left-side {
          	box-shadow: 0px 3px 15px 6px rgba(0, 0, 0, 0.2);
          }

          .right-side {
          	display: grid;
          	grid-template-rows: 32px 40px 113px 68px;
          	grid-column-start: 3;
          	text-align: left;
          	text-shadow: 0px 3px 15px rgba(0, 0, 0, 1);

            h1 {
            		text-align: left;
            		font-size: 32px;
            }

            .row-3 {
            	text-align: right;
            	align-self: end;
            }
          }
        }
      }
    }

    .pagination {
    	width: 50%;
    	margin: 0 auto;

    	height: 30px;

    	background: -moz-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,0.6) 40%, rgba(0,0,0,0.6) 50%, rgba(0,0,0,0.6) 60%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
    	background: -webkit-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,0.6) 40%,rgba(0,0,0,0.6) 50%,rgba(0,0,0,0.6) 60%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
    	background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(0,0,0,0.6) 40%,rgba(0,0,0,0.6) 50%,rgba(0,0,0,0.6) 60%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */

      a, span {
      	line-height: 30px;
      	font-family: inherit;
      	color: white;
      	font-size: 1em;
      	padding: 0 1em 0 0;
      	text-align: center;
      	vertical-align: middle;
      }
      a:hover {
      	text-shadow: 0 0 10px rgba(255, 255, 255, 1);
      	cursor: pointer;
      }
    }

    .transition-in {
      animation: slide-left-in 0.2s;
      animation-fill-mode: both;
    }
    .transition-out {
      /* animation: fade-out 0.2s; */
      animation-fill-mode: both;
      opacity: 0;
    }

  }

  .loader {
    position: fixed;
    top: 293px;
    left: 0;
    width: 100%;
    height: calc(100% - 293px);
    pointer-events: none;

    .lds-roller {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

.blog-modal-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100vw;
  min-height: 100vh;

  .blog-post {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr auto;
    max-height: 100vh;
    position: absolute;
    width: 100vw;
    z-index: $zIndex_modal;
    justify-content: center;
    overflow-y: scroll;
    background-color: rgba(0,0,0,0.5);

    .blog-body {
    	color: $darkFont0;
    	background-color: $offWhite;
    	padding: 40px;
    }

    .blog-container {
      animation: slide-bottom 0.3s;
      display: grid;
    	box-shadow: $darkBoxShadow0;
      box-sizing: border-box;
      grid-template-rows: auto 1fr;
    	min-width: 800px;
    }

    .top-section {
    	height: 310px;
    	position: relative;
    	text-shadow: $lightTextShadow0;
    	background: #646464;
    	overflow: hidden;

      h1 {
        line-height: 50px !important;
        color: $lightFont0;
        text-shadow: $lightTextShadow0;
        font-size: $titleFontH1Size0;
      }

      img {
        width: 100%;
        height: auto;
      }

      .back-button {
        @include buttonLight0(1em);

        position: absolute;
        top: 0;
        left: 0;

        margin: 10px;
        padding: 5px;

        z-index: $zIndex_modalOverlay;
      }

      .title-block {
      	display: flex;
      	position: absolute;
      	width: 100%;
      	height: 100%;
      	left: 0;
      	top: 0;
      	vertical-align: middle;
      	align-items: center;
      	justify-content: center;
      }
    }

    .blog-spacer {
    	min-height: 100vh
    }
  }
}

//No Modal Blog Post
.blog-no-modal-wrapper {
  overflow-y: auto;
  position: absolute;
  height: 100%;
  min-width: 100vw;

  .blog-post {

    .blog-container {
      display: grid;
      grid-template-columns: 1fr 2fr 1fr;
      grid-template-rows: 50vh auto;

      .top-section {
        grid-column: 1 / 4;
        overflow: hidden;
        display: flex;

        h1 {
          color: $lightFont0;
          text-shadow: $lightTextShadow0;
          font-size: $titleFontH1Size0;
        }

        .blog-header-image {
        	width: 100%;
        	height: auto;
          align-self: center;
          float: left;
        }

        .title-block {
        	position: absolute;
          width: 100%;
          align-self: center;

          h1 {
            width: 50%;
            margin: 0 auto;
            min-width: 762px;
          }
        }
      }

      .blog-body {
        margin-top: -40px;
        padding: 40px;
        box-sizing: border-box;
        color: $darkFont0;
        max-width: 1024px;
        min-width: 762px;
        min-height: 50vh;

        justify-self: stretch;

        grid-column: 2 / 3;
        grid-row-start: 2;
      }
    }
  }
}

.blog-post .blog-body {
  background-color: white;
  box-shadow: $darkBoxShadow0;

  a {
    color: #9b3715;
    font-family: 'Marcellus', serif;
    &:hover {
      color: #e35b11;
      text-decoration: underline;
    }
  }

  p {
    font-size: 1.2rem;
    text-align: justify;
    margin-bottom: 1.2rem;
  }

  img {
    box-shadow: $darkBoxShadow1;
    margin: 2rem;
  }

  //Image sizes
  img.size-thumbnail {
    width: 200px;
    height: 200px;
  }
  img.size-full {
  }
  img.size-medium {
  }

  //Image alignments
  img.alignnone {
    clear: both;
    float: none;
  }
  img.alignleft {
    float: left;
    margin-left: -80px;
  }
  img.alignright {
    float: right;
    margin-right: -80px;
  }

  img.aligncenter {
    margin-left: -10%;
    width: 120%;
    height: auto;
  }
}

// ABOUT ///////////////////////////////////////////////////////////////////////
$portraitWidthFull: 200px;

@media screen and (max-width: $break-small) {
  .About {
    display: grid;
    grid-template-rows: 25vh 1fr;
    grid-template-columns: 100%;

    height: auto !important;

    .resume-button {
      position: relative !important;
    }

  }
  .section {
    width: auto !important;
    grid-column-start: 1;
    grid-column-end: 2;
    &.left {
      .bg-image {
        width: 100%;
        height: auto !important;
      }
      .logo-mark {
        position: relative !important;
        float: left;
      }
    }
    &.right {
      .portrait {
        margin: 40px auto 0 auto;
        min-height: 200px !important;
      }
      h1 {
        font-size: 24px !important;
        padding-top: 12px !important;
        text-align: center;
      }
      .link-row-2 {
        padding-left: 50px;
      }
    }
  }
}

.About {
  height: 100%;
  color: $lightFont0;

  .section {
    overflow: hidden;
    width: 50%;
    float: left;
    height: 100%;
    position: relative;

    .bg-image {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
    }

    &.right {
      //This centers the .page-content div
      display: flex;
      flex-direction: column;
      justify-content: center;

      .page-content {
        display: flex;
        flex-direction: column;
        text-align: left;
        padding-left: 15%;
        padding-right: 15%;

        h1 {
        	display: inline-block;
        	font-size: 64px;
        	padding-bottom: 40px;
        	padding-top: 40px;
        	text-shadow: 0px 3px 15px rgba(0, 0, 0, 1);
        }

        p {
          margin-bottom: 24px;
        }

        a {
          color: $lightFont0;
        }

        .about-links {
          padding-top: 24px;
        }
        .about-link-container {
          margin-bottom: 24px;
        }
        .link-image {
          float: left;
          margin-right: 24px;
        }
        .link-title {
          height: 25px;
        }
      }

      .portrait {
      	max-width: $portraitWidthFull;
      	max-height: $portraitWidthFull;
      	overflow: hidden;
      	box-shadow: 0px 3px 15px 6px rgba(0, 0, 0, 0.3);

        img {
          max-width: $portraitWidthFull;
          height: auto;
        }
      }
    }
  }
}

////////////////////////////////////////////////////////////////////////////////
// ANIMATIONS
////////////////////////////////////////////////////////////////////////////////
@keyframes slide-bottom {
	from {
		opacity: 0;
		transform: translate(0, 100vh);
	}
	to {
		opacity: 1;
		transform: translate(0,0px);
	}
}

@keyframes fade-out {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

@keyframes slide-left-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
		transform: translate(-100px,0px);
	}
}
