@import url('https://fonts.googleapis.com/css?family=Marcellus');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*, html {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  font-family: 'Marcellus', serif;
}

a {
  text-decoration: none;
}

h1, img {
  margin:0;
  padding:0;
}

#root {
  height: 100%;
}

/* BASICS */

.App {
  height: 100%;
  text-align: center;
}

.Page {
  height: 100%;
  background-position: center;
  background-size: cover;
}

/* WIDGETS */
.logo-mark {}
.logo-mark h1 {
	color: white;
	text-transform: uppercase;
	text-shadow: 0 0 10px rgba(255, 255, 255, 1);
}


.logo-mark .logo .horizontal {}

.logo-mark.horizontal {
	position: fixed;
	top: 20px;
	left: 20px;
	height: 50px;
	display: flex;
}

.logo-mark.horizontal h1 {
	display: flex;
	font-size: 24px;
	vertical-align: middle;
	line-height: 50px;
	padding-left: 20px;
}

.logo-mark.horizontal .logo {
	display: flex;
	height: 50px;
	width: 50px;
}

.Home .logo-mark.centered h1 {
	padding-top: 25px;
	font-size: 40px;
}

/* HAMBRUGER MENU */
.HamburgerMenu {

}

.HamburgerMenu .Menu {
	position: fixed;
	text-align: right;
	right: 0;
	top: 0;
	width: 25%;
	max-width: 250px;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	padding: 80px 5px 5px 50px;
}

.HamburgerMenu a {
	color: #fff;
	font-size: 20px;
	line-height: 36px;
	text-transform: uppercase;
}

.HamburgerMenu a:hover {
	text-shadow: 0 0 10px rgba(255, 255, 255, 1);
}

.hburger {
	position: absolute;
	cursor: pointer;
	border: none;
	background: none;
	border-radius: 0;
	color: white;
	height: 40px;
	width: 40px;
	top: 20px;
	right: 20px;
}

.HamburgerMenu .open {
	position: relative;
}

.HamburgerMenu li {
	float: none !important;
	margin-bottom: 7px;
	text-align: left;
}

.upper-line, .mid-line, .lower-line {
	width: 35px;
	height: 5px;
	background-color: #fff;
	margin: 6px 0;
	transition: 0.4s;
}

.fs-blackout {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.5);
}


/*
  Some more info on navbar styling https://www.w3schools.com/css/css_navbar.asp
*/
.Menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.Menu li {
  float: left;
  display: inline;
}

.Menu li a {
  display: block;
  padding-left: 8px;
  padding-right: 8px;
}


/* HOME SCREEN */
.Home, .Home a {
  color: white;
}
.Home .Menu li a:hover {
  opacity: 0.8;
}

.Home .nav-container {
  /* Good article on flex https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Home .nav-container img {
  /* I need align-self center for images inside of flex so they don't stretch */
  align-self: center;
  padding-top: 40px;
}

.Home .Menu ul {
  padding-top: 25px;
  display: inline-block;
}

.Home .page-content {
  display: flex;
  flex-direction: column;
  padding-top: 17vh;
}

.Home .page-content hr {
  margin-top: 10px;
  margin-bottom: 20px;
  border-top: 1px;
  width: 30%;
  align-self: center;
}

.Home .page-content blockquote {
  width: 50%;
  align-self: center;
  font-size: 18px;
}

.Home .page-content > blockquote:first-child {
  font-size: 72px;
}

.Home .page-content blockquote:last-child {
}

@media screen and (max-width: 400px) {
  .Home .page-content {
    padding-top: 7vh;
  }
  .Home .page-content blockquote {
    width: 90%;
    font-size: 12px;
  }
  .Home .page-content > blockquote:first-child {
    font-size: 20px;
  }
}

.resume-button {
	position: absolute;
	bottom: 0;
	right: 0;
	margin-right: 20px;
	margin-bottom: 20px;
	z-index: 0;
}

.resume-button button {
	font-family: inherit;
	border: 2px solid white;
	background: none;
	border-radius: 3px;
	color: white;
	font-size: 1.5em;
  padding: 0.25em 1em;
}

.resume-button button:hover {
	background-color: rgba(255, 255, 255, 0.2);
	cursor: pointer;
}

/* ABOUT SCREEN */
.About {}

.About section {
	float: left;
	display: grid;
	width: 50%;
	height: 100%;
	overflow: hidden;
}

.About .right-section {
	color: white;
	display: grid;
	align-content: center;
	justify-items: center;
}

@media screen and (max-width: 500px) {
	.About .left-section {
		display: none;
	}
	.About .right-section {
		width: 500px;
	}
}

.About .right-section .page-content {
	width: 70%;
	display: grid;
	text-align: left;
}

.About .right-section .page-content h1 {
	display: inline-block;
	font-size: 64px;
	padding-bottom: 40px;
	padding-top: 40px;
	text-shadow: 0px 3px 15px rgba(0, 0, 0, 1);
}

.About .right-section .page-content .portrait {
	max-width: 150px;
	max-height: 150px;
	overflow: hidden;
	box-shadow: 0px 3px 15px 6px rgba(0, 0, 0, 0.3);
}

.About .right-section .page-content .portrait img {
	max-width: 150px;
	height: auto;
}

.About .right-section .page-content p {
	line-height: 24px;
	font-size: 14px;
	text-shadow: 0px 3px 15px rgba(0, 0, 0, 1);
	margin-bottom: 24px;
	font-family:'Open Sans', sans-serif;
}

.About .left-section {
		box-shadow: 0px 0px 15px 15px rgba(0,0,0,0.3);
		background-size: cover;
}
.about-links {
	padding-top: 16px;
	text-shadow: 0px 3px 15px rgba(0, 0, 0, 1);
}
.about-links .link-row-1 {
	display: flex;
	padding-bottom:5px;
}
.about-links .link-image, .about-links .link-title {
	display: flex;
}
.about-links .about-link-container {
	padding-bottom: 25px;
}

.about-links h2 {
	display: flex;
	vertical-align: middle;
	line-height: 25px;
	padding-left: 15px;
	font-family: 'Marcellus', serif;
	font-size: 20px;
}

.about-links a {
	color: white;
	font-family:'Open Sans', sans-serif;
	font-size: 14px;
}

/* BLOGMAIN SECTION */
.BlogMain, .BlogMain a {
	color: white;
}

.BlogMain .top-section {
	height: 293px;
}

.BlogMain .top-section .page-content h1 {
	color: white;
	font-size: 52px;
	line-height: 293px;
	text-shadow: 0px 3px 15px rgba(0, 0, 0, 1);
}

.BlogMain .blog-list-container {
	width: 50%;
	min-width: 800px;
	padding-top: 75px;
	margin: 0 auto;
}

.BlogMain {
	overflow: auto;
}

.blog-list-container .container {
	display: grid;
	grid-template-columns: 40% 5% 55%;
	grid-template-rows: 253px;
	margin-bottom: 50px;
}

.blog-list-container .container .right-side {
	display: grid;
	grid-template-rows: 32px 40px 113px 68px;
	grid-column-start: 3;
	text-align: left;
	text-shadow: 0px 3px 15px rgba(0, 0, 0, 1);
}

.blog-list-container .container .left-side {
	box-shadow: 0px 3px 15px 6px rgba(0, 0, 0, 0.2);
}

.BlogMain .blog-list-container .right-side h1 {
		text-align: left;
		font-size: 32px;
}

.BlogMain .blog-list-container .right-side .row-3 {
	text-align: right;
	align-self: end;
}

.BlogMain .blog-list-container .right-side .row-3 a {
	color: white;
}

.BlogMain .blog-list-container .right-side .row-3 a:hover {
	text-shadow: 0 0 10px rgba(255, 255, 255, 1);
}

.BlogMain .content-snippet {
	overflow: hidden;
	font-family:'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 16px;
}

.BlogMain .date {
	align-self: center;
}

.BlogMain .blog-image {
	width: auto;
	height: 100%;
	background-size: cover;
	background-position: center;
	display: block;
}
