/* Commenting out old App.css stuff so I can write my own from scratch */
@import url('https://fonts.googleapis.com/css?family=Marcellus');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*, html {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  font-family: 'Marcellus', serif;
}

a {
  text-decoration: none;
}

h1, img {
  margin:0;
  padding:0;
}

#root {
  height: 100%;
}

.App {
  height: 100%;
  text-align: center;
}

.Page {
  height: 100%;
  background-position: center;
  background-size: cover;
}


/*
  Some more info on navbar styling https://www.w3schools.com/css/css_navbar.asp
*/
.Menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.Menu li {
  float: left;
  display: inline;
}

.Menu li a {
  display: block;
  padding-left: 8px;
  padding-right: 8px;
}


/* HOME SCREEN */
.Home, .Home a {
  color: white;
}
.Home .Menu li a:hover {
  opacity: 0.8;
}

.Home h1 {
  padding-top: 25px;
  font-size: 40px;
  text-transform: uppercase;
  text-shadow: 0 0 10px rgba(255, 255, 255, 1);
}

.nav-container {
  /* Good article on flex https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nav-container img {
  /* I need align-self center for images inside of flex so they don't stretch */
  align-self: center;
  padding-top: 40px;
}

.Home .Menu ul {
  padding-top: 25px;
  display: inline-block;
}

.Home .page-content {
  display: flex;
  flex-direction: column;
  padding-top: 17vh;
}

.Home .page-content hr {
  margin-top: 10px;
  margin-bottom: 20px;
  border-top: 1px;
  width: 30%;
  align-self: center;
}

.Home .page-content blockquote {
  width: 50%;
  align-self: center;
  font-size: 18px;
}

.Home .page-content > blockquote:first-child {
  font-size: 72px;
}

.Home .page-content blockquote:last-child {
}

@media screen and (max-width: 400px) {
  .Home .page-content {
    padding-top: 7vh;
  }
  .Home .page-content blockquote {
    width: 90%;
    font-size: 12px;
  }
  .Home .page-content > blockquote:first-child {
    font-size: 20px;
  }
}

.resume-button {
	position: absolute;
	bottom: 0;
	right: 0;
	margin-right: 20px;
	margin-bottom: 20px;
	z-index: 0;
}

.resume-button button {
	font-family: inherit;
	border: 2px solid white;
	background: none;
	border-radius: 3px;
	color: white;
	font-size: 1.5em;
  padding: 0.25em 1em;
}

.resume-button button:hover {
	background-color: rgba(255, 255, 255, 0.2);
	cursor: pointer;
}

/* HAMBRUGER MENU */
.HamburgerMenu {

}

.HamburgerMenu .Menu {
	position: relative;
	text-align: left;
	float: right;
	width: 25vw;
	height: 100vh;
	background-color: rgba(0,0,0,0.5);
	padding: 100px 30px 5px 40px;
}

.HamburgerMenu a {
	color: #fff;
	font-size: 20px;
	line-height: 36px;
	text-transform: uppercase;
}

.HamburgerMenu a:hover {
	text-shadow: 0 0 10px rgba(255, 255, 255, 1);
}

.hburger {
	position: absolute;
	cursor: pointer;
	border: none;
	background: none;
	border-radius: 0;
	color: white;
	height: 40px;
	width: 40px;
	top: 10px;
	right: 10px;
}

.HamburgerMenu .open {
	position: relative;
}

.HamburgerMenu li {
	float: none;
	margin-bottom: 7px;
}



.upper-line, .mid-line, .lower-line {
	width: 35px;
	height: 5px;
	background-color: #fff;
	margin: 6px 0;
	transition: 0.4s;
}

.fs-blackout {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.5);
}
