@import url("https://fonts.googleapis.com/css?family=Marcellus");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, html {
  margin: 0;
  padding: 0; }

html, body {
  height: 100%;
  font-family: 'Marcellus', serif;
  background-color: #2b2728; }

a {
  text-decoration: none; }

h1, img {
  margin: 0;
  padding: 0; }

button {
  outline: none; }

#root {
  height: 100%; }

.noscroll {
  overflow: hidden; }

.App {
  height: 100%;
  text-align: center; }

.Page {
  height: 100%;
  background-position: center;
  background-size: cover; }

.logo-mark h1 {
  color: white;
  text-transform: uppercase;
  text-shadow: 0 0 10px #fff; }

.logo-mark.horizontal {
  position: fixed !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 100;
  top: 0;
  left: 0;
  margin-left: 20px;
  margin-top: 20px;
  height: 50px; }
  .logo-mark.horizontal h1 {
    display: inline-block;
    font-size: 24px;
    vertical-align: middle;
    line-height: 50px;
    padding-left: 20px; }
  .logo-mark.horizontal .logo {
    height: 50px;
    width: 50px; }

.Home .logo-mark.centered h1 {
  padding-top: 25px;
  font-size: 40px; }

.loader {
  position: relative; }

.lds-roller {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px; }

.lds-roller div {
  -webkit-animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  -webkit-transform-origin: 32px 32px;
  -ms-transform-origin: 32px 32px;
  transform-origin: 32px 32px; }

.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #fff;
  margin: -3px 0 0 -3px; }

.lds-roller div:nth-child(1) {
  -webkit-animation-delay: -0.036s;
  animation-delay: -0.036s; }

.lds-roller div:nth-child(1):after {
  top: 50px;
  left: 50px; }

.lds-roller div:nth-child(2) {
  -webkit-animation-delay: -0.072s;
  animation-delay: -0.072s; }

.lds-roller div:nth-child(2):after {
  top: 54px;
  left: 45px; }

.lds-roller div:nth-child(3) {
  -webkit-animation-delay: -0.108s;
  animation-delay: -0.108s; }

.lds-roller div:nth-child(3):after {
  top: 57px;
  left: 39px; }

.lds-roller div:nth-child(4) {
  -webkit-animation-delay: -0.144s;
  animation-delay: -0.144s; }

.lds-roller div:nth-child(4):after {
  top: 58px;
  left: 32px; }

.lds-roller div:nth-child(5) {
  -webkit-animation-delay: -0.18s;
  animation-delay: -0.18s; }

.lds-roller div:nth-child(5):after {
  top: 57px;
  left: 25px; }

.lds-roller div:nth-child(6) {
  -webkit-animation-delay: -0.216s;
  animation-delay: -0.216s; }

.lds-roller div:nth-child(6):after {
  top: 54px;
  left: 19px; }

.lds-roller div:nth-child(7) {
  -webkit-animation-delay: -0.252s;
  animation-delay: -0.252s; }

.lds-roller div:nth-child(7):after {
  top: 50px;
  left: 14px; }

.lds-roller div:nth-child(8) {
  -webkit-animation-delay: -0.288s;
  animation-delay: -0.288s; }

.lds-roller div:nth-child(8):after {
  top: 45px;
  left: 10px; }

@-webkit-keyframes lds-roller {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes lds-roller {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

.Menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

.Menu li {
  float: left;
  display: inline; }
  .Menu li a {
    display: block;
    padding-left: 8px;
    padding-right: 8px; }

.HamburgerMenu .Menu {
  position: fixed;
  text-align: right;
  right: 0;
  top: 0;
  width: 25%;
  max-width: 250px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 80px 5px 5px 50px; }

.HamburgerMenu a {
  color: #fff;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase; }
  .HamburgerMenu a:hover {
    text-shadow: 0 0 10px #fff; }

.HamburgerMenu li {
  float: none !important;
  margin-bottom: 7px;
  text-align: left; }

.HamburgerMenu .open {
  position: relative; }

.HamburgerMenu .hburger {
  position: absolute;
  cursor: pointer;
  border: none;
  background: none;
  border-radius: 0;
  color: white;
  height: 40px;
  width: 40px;
  top: 20px;
  right: 20px; }

.HamburgerMenu .upper-line, .HamburgerMenu .mid-line, .HamburgerMenu .lower-line {
  width: 35px;
  height: 5px;
  background-color: #fff;
  margin: 6px 0;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s; }

.fs-blackout {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); }

.Menu {
  display: inline-block; }
  .Menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0; }
  .Menu li {
    float: left;
    display: inline; }
    .Menu li a {
      color: #fff;
      display: block;
      padding-left: 8px;
      padding-right: 8px; }
      .Menu li a:hover {
        opacity: 0.3; }

.resume-button {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 20px;
  margin-bottom: 20px;
  z-index: 100;
  visibility: visible; }
  .resume-button button {
    font-family: inherit;
    border: 2px solid white;
    background: none;
    border-radius: 3px;
    color: white;
    font-size: 1.5em;
    padding: 0.25em 1em; }
    .resume-button button:hover {
      background-color: rgba(255, 255, 255, 0.2);
      cursor: pointer; }

.error404 {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: no-repeat center center fixed;
  background-size: cover;
  color: white; }
  .error404 h1 {
    font-size: 100px;
    text-shadow: 0 0 10px black, 0 0 15px black, 0 0 20px black, 0 0 25px black; }
  .error404 h2 {
    font-size: 50px;
    text-shadow: 0 0 10px black, 0 0 15px black, 0 0 20px black, 0 0 25px black; }
  .error404 p {
    margin: 50px 0 50px 0; }
  .error404 .Menu {
    font-size: 28px; }
  .error404 .error-message {
    position: absolute;
    width: 100%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }

.reroute {
  height: 100vh;
  width: 100vw;
  background: no-repeat center center fixed;
  background-size: cover; }
  .reroute .loader {
    position: absolute;
    height: inherit;
    width: inherit;
    top: 0;
    left: 0;
    margin: auto; }
    .reroute .loader .lds-roller {
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%); }

.Home {
  color: #fff; }
  .Home a {
    color: inherit; }
  .Home a:hover {
    opacity: 0.5; }
  .Home h1 {
    padding-top: 25px;
    font-size: 40px;
    text-transform: uppercase;
    text-shadow: 0 0 10px #fff; }
  .Home .Menu ul {
    padding-top: 25px;
    display: inline-block; }
  .Home .page-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-top: 17vh; }
    .Home .page-content > blockquote:first-child {
      font-size: 72px; }
    .Home .page-content hr {
      margin-top: 10px;
      margin-bottom: 20px;
      border-top: 1px;
      width: 30%;
      -ms-flex-item-align: center;
      align-self: center; }
    .Home .page-content blockquote {
      width: 50%;
      -ms-flex-item-align: center;
      align-self: center;
      font-size: 18px; }
  .Home .nav-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .Home .nav-container img {
      /* I need align-self center for images inside of flex so they don't stretch */
      -ms-flex-item-align: center;
      align-self: center;
      padding-top: 40px; }

.BlogMain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: auto;
  color: #fff; }
  .BlogMain a {
    color: #fff; }
    .BlogMain a:hover {
      text-shadow: 0 0 10px white; }
  .BlogMain .top-section {
    height: 293px; }
    .BlogMain .top-section .page-content h1 {
      color: white;
      font-size: 52px;
      line-height: 293px;
      text-shadow: 0px 3px 15px black; }
  .BlogMain .blog-preview a:hover {
    cursor: pointer; }
  .BlogMain .content-snippet {
    overflow: hidden;
    font-size: 16px;
    line-height: 16px; }
  .BlogMain .date {
    -ms-flex-item-align: center;
    align-self: center; }
  .BlogMain .blog-image {
    width: auto;
    height: 100%;
    display: block;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background-color: #231f20; }
    .BlogMain .blog-image:hover {
      -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
      transform: scale(1.2); }
  .BlogMain .blog-image-inner {
    position: relative;
    width: auto;
    height: 100%;
    background-size: cover;
    background-position: center; }
  .BlogMain .bottom-section {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .BlogMain .bottom-section .page-content {
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1; }
      .BlogMain .bottom-section .page-content .blog-list-container {
        width: 50%;
        min-width: 800px;
        padding-top: 75px;
        margin: 0 auto;
        position: relative; }
        .BlogMain .bottom-section .page-content .blog-list-container .container {
          display: grid;
          grid-template-columns: 40% 5% 55%;
          grid-template-rows: 253px;
          margin-bottom: 50px;
          opacity: 0;
          -webkit-transition: all 0.3s ease;
          -o-transition: all 0.3s ease;
          transition: all 0.3s ease; }
          .BlogMain .bottom-section .page-content .blog-list-container .container .left-side {
            -webkit-box-shadow: 0px 3px 15px 6px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 3px 15px 6px rgba(0, 0, 0, 0.2); }
          .BlogMain .bottom-section .page-content .blog-list-container .container .right-side {
            display: grid;
            grid-template-rows: 32px 40px 113px 68px;
            grid-column-start: 3;
            text-align: left;
            text-shadow: 0px 3px 15px black; }
            .BlogMain .bottom-section .page-content .blog-list-container .container .right-side h1 {
              text-align: left;
              font-size: 32px; }
            .BlogMain .bottom-section .page-content .blog-list-container .container .right-side .row-3 {
              text-align: right;
              -ms-flex-item-align: end;
              align-self: end; }
    .BlogMain .bottom-section .pagination {
      width: 50%;
      margin: 0 auto;
      height: 30px;
      background: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 40%, rgba(0, 0, 0, 0.6) 50%, rgba(0, 0, 0, 0.6) 60%, rgba(0, 0, 0, 0) 100%);
      /* FF3.6-15 */
      background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 40%, rgba(0, 0, 0, 0.6) 50%, rgba(0, 0, 0, 0.6) 60%, rgba(0, 0, 0, 0) 100%);
      /* Chrome10-25,Safari5.1-6 */
      background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), color-stop(40%, rgba(0, 0, 0, 0.6)), color-stop(50%, rgba(0, 0, 0, 0.6)), color-stop(60%, rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0)));
      background: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 40%, rgba(0, 0, 0, 0.6) 50%, rgba(0, 0, 0, 0.6) 60%, rgba(0, 0, 0, 0) 100%);
      background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 40%, rgba(0, 0, 0, 0.6) 50%, rgba(0, 0, 0, 0.6) 60%, rgba(0, 0, 0, 0) 100%);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#00000000',GradientType=1 );
      /* IE6-9 */ }
      .BlogMain .bottom-section .pagination a, .BlogMain .bottom-section .pagination span {
        line-height: 30px;
        font-family: inherit;
        color: white;
        font-size: 1em;
        padding: 0 1em 0 0;
        text-align: center;
        vertical-align: middle; }
      .BlogMain .bottom-section .pagination a:hover {
        text-shadow: 0 0 10px white;
        cursor: pointer; }
    .BlogMain .bottom-section .transition-in {
      -webkit-animation: slide-left-in 0.2s;
      animation: slide-left-in 0.2s;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both; }
    .BlogMain .bottom-section .transition-out {
      /* animation: fade-out 0.2s; */
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
      opacity: 0; }
  .BlogMain .loader {
    position: fixed;
    top: 293px;
    left: 0;
    width: 100%;
    height: calc(100% - 293px);
    pointer-events: none; }
    .BlogMain .loader .lds-roller {
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%); }

.blog-modal-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100vw;
  min-height: 100vh; }
  .blog-modal-wrapper .blog-post {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr auto;
    max-height: 100vh;
    position: absolute;
    z-index: 200;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    overflow-y: scroll;
    background-color: rgba(0, 0, 0, 0.5); }
    .blog-modal-wrapper .blog-post .blog-body {
      color: #000;
      background-color: #EFEFEF;
      padding: 40px; }
    .blog-modal-wrapper .blog-post .blog-container {
      -webkit-animation: slide-bottom 0.3s;
      animation: slide-bottom 0.3s;
      display: grid;
      -webkit-box-shadow: 1px 1px 100px black;
      box-shadow: 1px 1px 100px black;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      grid-template-rows: auto 1fr;
      min-width: 800px; }
    .blog-modal-wrapper .blog-post .top-section {
      height: 310px;
      position: relative;
      text-shadow: 0 0 10px #fff;
      background: #646464;
      overflow: hidden; }
      .blog-modal-wrapper .blog-post .top-section h1 {
        line-height: 50px !important;
        color: #fff;
        text-shadow: 0 0 10px #fff;
        font-size: 3em; }
      .blog-modal-wrapper .blog-post .top-section img {
        width: 100%;
        height: auto; }
      .blog-modal-wrapper .blog-post .top-section .back-button {
        font-family: inherit;
        border: 2px solid white;
        background: none;
        border-radius: 3px;
        color: #fff;
        font-size: 1em;
        padding: 0.25em 1em;
        position: absolute;
        top: 0;
        left: 0;
        margin: 10px;
        padding: 5px;
        z-index: 210; }
        .blog-modal-wrapper .blog-post .top-section .back-button:hover {
          background-color: rgba(255, 255, 255, 0.2);
          cursor: pointer; }
      .blog-modal-wrapper .blog-post .top-section .title-block {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        vertical-align: middle;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center; }
    .blog-modal-wrapper .blog-post .blog-spacer {
      min-height: 100vh; }

.blog-no-modal-wrapper {
  overflow-y: auto;
  position: absolute;
  height: 100%;
  min-width: 100vw; }
  .blog-no-modal-wrapper .blog-post .blog-container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 50vh auto; }
    .blog-no-modal-wrapper .blog-post .blog-container .top-section {
      grid-column: 1 / 4;
      overflow: hidden;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .blog-no-modal-wrapper .blog-post .blog-container .top-section h1 {
        color: #fff;
        text-shadow: 0 0 10px #fff;
        font-size: 3em; }
      .blog-no-modal-wrapper .blog-post .blog-container .top-section .blog-header-image {
        width: 100%;
        height: auto;
        -ms-flex-item-align: center;
        align-self: center;
        float: left; }
      .blog-no-modal-wrapper .blog-post .blog-container .top-section .title-block {
        position: absolute;
        width: 100%;
        -ms-flex-item-align: center;
        align-self: center; }
        .blog-no-modal-wrapper .blog-post .blog-container .top-section .title-block h1 {
          width: 50%;
          margin: 0 auto;
          min-width: 762px; }
    .blog-no-modal-wrapper .blog-post .blog-container .blog-body {
      margin-top: -40px;
      padding: 40px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      color: #000;
      max-width: 1024px;
      min-width: 762px;
      min-height: 50vh;
      justify-self: stretch;
      grid-column: 2 / 3;
      grid-row-start: 2; }

.blog-post .blog-body {
  background-color: white;
  -webkit-box-shadow: 1px 1px 100px black;
  box-shadow: 1px 1px 100px black; }
  .blog-post .blog-body a {
    color: #9b3715;
    font-family: 'Marcellus', serif; }
    .blog-post .blog-body a:hover {
      color: #e35b11;
      text-decoration: underline; }
  .blog-post .blog-body p {
    font-size: 1.2rem;
    text-align: justify;
    margin-bottom: 1.2rem; }
  .blog-post .blog-body img {
    -webkit-box-shadow: 1px 1px 10px black;
    box-shadow: 1px 1px 10px black;
    margin: 2rem; }
  .blog-post .blog-body img.size-thumbnail {
    width: 200px;
    height: 200px; }
  .blog-post .blog-body img.alignnone {
    clear: both;
    float: none; }
  .blog-post .blog-body img.alignleft {
    float: left;
    margin-left: -80px; }
  .blog-post .blog-body img.alignright {
    float: right;
    margin-right: -80px; }
  .blog-post .blog-body img.aligncenter {
    margin-left: -10%;
    width: 120%;
    height: auto; }

.About section {
  float: left;
  display: grid;
  width: 50%;
  height: 100%;
  overflow: hidden; }

.About .about-links {
  padding-top: 16px;
  text-shadow: 0px 3px 15px black; }
  .About .about-links .link-row-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 5px; }
  .About .about-links .link-image, .About .about-links .about-links .link-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .About .about-links .about-link-container {
    padding-bottom: 25px; }
  .About .about-links h2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    vertical-align: middle;
    line-height: 25px;
    padding-left: 15px;
    font-family: 'Marcellus', serif;
    font-size: 20px; }
  .About .about-links a {
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px; }

.About .left-section {
  -webkit-box-shadow: 0px 0px 15px 15px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 15px 15px rgba(0, 0, 0, 0.3);
  background-size: cover;
  background-color: #252122; }
  .About .left-section .bg-image {
    height: 100%; }

.About .right-section {
  color: white;
  display: grid;
  -ms-flex-line-pack: center;
  align-content: center;
  justify-items: center; }
  .About .right-section .page-content {
    width: 70%;
    display: grid;
    text-align: left; }
    .About .right-section .page-content h1 {
      display: inline-block;
      font-size: 64px;
      padding-bottom: 40px;
      padding-top: 40px;
      text-shadow: 0px 3px 15px black; }
    .About .right-section .page-content p {
      line-height: 24px;
      font-size: 14px;
      text-shadow: 0px 3px 15px black;
      margin-bottom: 24px;
      font-family: 'Open Sans', sans-serif; }
    .About .right-section .page-content .portrait {
      max-width: 150px;
      max-height: 150px;
      overflow: hidden;
      -webkit-box-shadow: 0px 3px 15px 6px rgba(0, 0, 0, 0.3);
      box-shadow: 0px 3px 15px 6px rgba(0, 0, 0, 0.3); }
      .About .right-section .page-content .portrait img {
        max-width: 150px;
        height: auto; }

@-webkit-keyframes slide-bottom {
  from {
    opacity: 0;
    -webkit-transform: translate(0, 100vh);
    transform: translate(0, 100vh); }
  to {
    opacity: 1;
    -webkit-transform: translate(0, 0px);
    transform: translate(0, 0px); } }

@keyframes slide-bottom {
  from {
    opacity: 0;
    -webkit-transform: translate(0, 100vh);
    transform: translate(0, 100vh); }
  to {
    opacity: 1;
    -webkit-transform: translate(0, 0px);
    transform: translate(0, 0px); } }

@-webkit-keyframes fade-out {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@keyframes fade-out {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@-webkit-keyframes slide-left-in {
  from {
    opacity: 0; }
  to {
    opacity: 1;
    -webkit-transform: translate(-100px, 0px);
    transform: translate(-100px, 0px); } }

@keyframes slide-left-in {
  from {
    opacity: 0; }
  to {
    opacity: 1;
    -webkit-transform: translate(-100px, 0px);
    transform: translate(-100px, 0px); } }
